.btn {
	background-color: #00BF6A;
	color: #000;
	border: none;
	text-align: center;
	padding: 15px;
}

.btn:hover {
	background-color: #85FFC9;
	color: #000;
	border: none;
	text-align: center;	
}

h1 {
	text-align: center;
 	color: #702175;
}
