.btn {
	background-color: #00BF6A;
	color: #000;
	border: 1px solid #85FFC9;
	text-align: center;
	padding: 15px;
}

.btn:hover {
	background-color: #85FFC9;
	color: #000;
	border: 1px solid #fff;
	text-align: center;	
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
 	color: #702175;
}

p {
	font-family: 'Source Sans Pro', sans-serif;	
}
