.btn {
	background-color: #00BF6A;
	color: #fff;
	border: none;
	text-align: center;
	padding: 15px;
}

.btn:hover {
	background-color: #00FF8E;
	color: #fff;
	border: none;
	text-align: center;	
}

h1 {
	text-align: center;
 	color: #47154A;
}
